[submodule "submodules/256-grayvim"]
	path = submodules/256-grayvim
	url = https://github.com/vim-scripts/256-grayvim.git
[submodule "submodules/inkpot"]
	path = submodules/inkpot
	url = https://github.com/vim-scripts/inkpot.git
[submodule "submodules/mrkn256.vim"]
	path = submodules/mrkn256.vim
	url = https://github.com/mrkn/mrkn256.vim.git
[submodule "submodules/molokai"]
	path = submodules/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "submodules/tchaba"]
	path = submodules/tchaba
	url = https://github.com/vim-scripts/tchaba.git
[submodule "submodules/badwolf"]
	path = submodules/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "submodules/fu"]
	path = submodules/fu
	url = https://github.com/noah/fu.git
[submodule "submodules/vim-distinguished"]
	path = submodules/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "submodules/flattown"]
	path = submodules/flattown
	url = https://github.com/blerins/flattown.git
[submodule "submodules/Spacegray.vim"]
	path = submodules/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "submodules/heroku-colorscheme"]
	path = submodules/heroku-colorscheme
	url = https://github.com/stulzer/heroku-colorscheme.git
[submodule "submodules/feral-vim"]
	path = submodules/feral-vim
	url = https://github.com/jedverity/feral-vim.git
[submodule "submodules/mango.vim"]
	path = submodules/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "submodules/vim-herokudoc-theme"]
	path = submodules/vim-herokudoc-theme
	url = https://github.com/uu59/vim-herokudoc-theme.git
[submodule "submodules/neverland-vim-theme"]
	path = submodules/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule "submodules/vim-tomorrow-theme"]
	path = submodules/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "submodules/vim-railscasts-theme"]
	path = submodules/vim-railscasts-theme
	url = git@github.com:jpo/vim-railscasts-theme.git
[submodule "submodules/material.vim"]
	path = submodules/material.vim
	url = git@github.com:jscappini/material.vim.git
[submodule "submodules/vim-hybrid-material"]
	path = submodules/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
[submodule "submodules/nova.vim"]
	path = submodules/nova.vim
	url = https://github.com/zanglg/nova.vim.git
[submodule "submodules/vim-monokai"]
	path = submodules/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "submodules/lucario"]
	path = submodules/lucario
	url = https://github.com/raphamorim/lucario.git
